<div class="khc-sidebar">
    <!-- Sidebar -->
      <ul class="nav flex-column w-100">
        <li class="nav-item mt-3">
          <a class="nav-link active" href="#">
            <img src="/assets/icons/icons8-quiz-96.png" alt="Quiz icon" height="24" class="me-3">
            My Quizzes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="/assets/icons/icons8-report-96.png" alt="Quiz icon" height="24" class="me-3">
            Quiz Reports
        </a>
        </li>
       
      </ul>

   
  </div>
  