* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: unset !important;
  border-style: unset !important;
  border-width: 0;
}

.no-focus {
  pointer-events: none;
  background-color: #e9ecef !important;
}

a {
  cursor: pointer;
}
