@import "config";

.#{$style-prefix}-add-quiz {
  display: flex;

  &__question-form {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: $bg1;
    position: relative;

    &-title-input {
      width: 80%;
      min-width: 300px;
      max-width: 1200px;

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color: $violet1;
      flex: auto;
    }

    &-config {
      min-width: 200px;
      width: 20%;
      padding: 15px;
      background-color: $bg1;

      &-title {
        font-size: 18px;
      }

      &--floating {
        position: absolute;
        right: 16px;
        top: 2px;
        width: calc(100% - 32px);
        max-width: 320px;
        z-index: 1100;
        box-shadow: 4px 4px 4px black;
      }
    }
  }

  &__floating-config-btn {
    position: absolute;
    right: 16px;
    top: 2px;
    width: 42px;
    height: 42px !important;
    border-radius: 100%;
    z-index: 1110;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__question-media {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px black;
    margin-top: 100px;

    i.fa {
      color: #666;
      font-size: 36px;
    }

    i {
      &:last-child {
        font-size: 12px;
      }
    }

    @media (max-width: 991px) {
      margin-top: 20px;
      height: 160px;
    }
  }

  &__question-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    max-width: 1200px;
  }

  &__question-option-item {
    height: 110px;
    width: 48%;
    min-width: 280px;
    margin-top: 15px;

    background-color: $white;
    box-shadow: 4px 4px 4px black;

    display: flex;
    align-items: center;

    border-left: 20px solid;
    position: relative;

    @media (max-width: 991px) {
      width: 100%;
      height: 64px;
      margin-top: 8px;
    }

    &--correct {
      &::before {
        content: "Correct";
        padding: 5px 25px;
        background-color: $teal;
        color: white;
        font-size: 14px;
        position: absolute;
        top: -32px;
        left: -20px;
      }
    }

    div {
      margin-right: 15px;
      cursor: pointer;
    }

    &:nth-child(1) {
      border-color: $teal;
    }
    &:nth-child(2) {
      border-color: $pink;
    }
    &:nth-child(3) {
      border-color: $info;
    }
    &:nth-child(4) {
      border-color: $danger;
    }

    input {
      border: none;
      min-width: unset;
      //   width: calc(100% - 130px);

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  @media (max-width: 991px) {
    &__question-form {
      flex-direction: column;

      &-config {
        display: none;

        &--floating {
          display: block;
        }
      }
    }

    &__question-options {
      margin-top: 8px;
    }
  }
}
