<div class="khc-quizzes">
  <div class="container-lg mt-5">
    <div class="d-flex flex-wrap justify-content-md-between justify-content-center gap-2 align-items-center flex-xs-column flex-row">
      <h4>My Quizzes</h4>
      <input type="search" placeholder="Type to search quiz" style="min-width: 280px;">
      <a [routerLink]="['/portal/add-quiz']" class="btn btn-info">Add Quiz</a>
    </div>
    <div class="d-flex flex-wrap justify-content-xs-center justify-content-start pt-5">
      @for (item of [1, 2, 3, 4, 5, 6]; track $index) {
        <div style="width: calc(25% - 1rem); min-width: 280px; margin: 0.5rem;">
          <app-quiz-item [imageNo]="($index % 4) + 1"></app-quiz-item>
        </div>
      }
    </div>
  </div>
</div>
