@import "config";

.#{$style-prefix}-quizzes {
  width: 100%;
  min-height: 100vh;

  .btn {
    min-width: 150px;
  }

  input {
    outline: none;
    min-width: 200px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: $white;
    padding: 20px;
    width: 100%;

    .d-flex {
      b {
        font-size: 28px;
        margin-right: 20px;
      }
    }
  }
}
