@import "config";

.#{$style-prefix}-quizzes {
    width: 100%;
    min-height: 100vh;

    &__quiz-item {
        height: 250px;
        width: 32%;
        min-width: 320px;
        border-radius: 10px;
        background-color: $white;
        box-shadow: 3px 3px 2px rgb(0, 0, 0) !important;

        &--teal {
            background-color: $teal;
        }

        &--pink {
            background-color: $pink;
        }

        button {
         flex: auto;   
        }
    }
}