<div class="khc-quizzes">
  <div class="container-lg mt-5">
    <div class="d-flex flex-wrap justify-content-md-between justify-content-center gap-2 align-items-center">
      <h4>My Quizzes</h4>
      <input type="search" placeholder="Type to search quiz" style="min-width: 280px;">
      <a [routerLink]="['/portal/add-quiz']" class="btn btn-info">Add Quiz</a>
    </div>
    <div class="d-flex flex-wrap justify-content-sm-between justify-content-center pt-5">
      @for (item of [1, 2, 3, 4, 5, 6]; track $index) {
        <div class="mt-3 mb-3" style="width: 32%; min-width: 320px">
          <app-quiz-item [imageNo]="($index % 4) + 1"></app-quiz-item>
        </div>
      }
    </div>
  </div>
</div>
