$primary: #f7cb47;
$info: #006edd;
$success: #5ed105;
$danger: #e62019;
$teal: #47daca;
$pink: #f173a3;
$violet: #341a4c;
$violet1: #9CA9F6;
$lightpink: #fd8ae5;

$bg2: #a5b4fb;
$bg1: #f7f3f0;
$white: #fff;

$foreground: #392a1c;
