<div class="khc-add-quiz">
  <h4 class="m-3">Add Quiz Form</h4>
  <div class="khc-add-quiz__header">
    <input class="m-2" type="text" placeholder="Enter quiz title..." />
    <div class="d-flex flex-wrap m-2">
      <button class="btn btn-secondary">Back</button>
      <button class="btn btn-primary">Save As Draft</button>
      <button class="btn btn-info">Publish</button>
    </div>
  </div>
  <div class="d-flex w-100 khc-add-quiz__content">
    <div class="khc-add-quiz__question-list">
      <b class="mb-3">Questions</b>
      <div class="khc-add-quiz__question-item">
        <div class="khc-add-quiz__question-action">
          <i class="fa fa-regular fa-copy"></i>
          <i class="fa fa-regular fa-trash-can"></i>
        </div>
        <span class="khc-add-quiz__question-item-title">Question # 1</span>
        <div class="khc-add-quiz__question-timer">20</div>
        <div class="d-flex flex-wrap w-100 mt-2">
          <div class="khc-add-quiz__question-option"></div>
          <div class="khc-add-quiz__question-option"></div>
          <div class="khc-add-quiz__question-option"></div>
          <div class="khc-add-quiz__question-option"></div>
        </div>
      </div>

      <button class="btn btn-info mt-3">Add</button>
    </div>
    <div class="khc-add-quiz__question-form">
     <app-question-form class="w-100"></app-question-form>
    </div>
  </div>
</div>
