<div class="khc-add-quiz">
  <h4 class="m-3">Add Quiz Form</h4>
  <div class="khc-add-quiz__header">
    <input type="text" placeholder="Enter quiz title..." />
    <div class="d-flex flex-wrap">
      <button class="btn btn-secondary">Back</button>
      <button class="btn btn-primary">Save As Draft</button>
      <button class="btn btn-info">Save and Publish</button>
    </div>
  </div>
  <div class="d-flex h-100 w-100">
    <div class="khc-add-quiz__question-list">
      <b class="mb-3">Questions</b>
      <div class="khc-add-quiz__question-item">
        <div class="khc-add-quiz__question-action">
          <i class="fa fa-regular fa-copy"></i>
          <i class="fa fa-regular fa-trash-can"></i>
        </div>
        <span class="khc-add-quiz__question-item-title">Question # 1</span>
        <div class="khc-add-quiz__question-timer">20</div>
        <div class="d-flex flex-wrap w-100 mt-2">
          <div class="khc-add-quiz__question-option"></div>
          <div class="khc-add-quiz__question-option"></div>
          <div class="khc-add-quiz__question-option"></div>
          <div class="khc-add-quiz__question-option"></div>
        </div>
      </div>

      <button class="btn btn-info mt-3">Add</button>
    </div>
    <div class="khc-add-quiz__question-form">
      <input
        type="text"
        class="khc-add-quiz__question-form-title-input"
        placeholder="Type question"
      />
      <div class="khc-add-quiz__question-media">
        <i class="fa fa-regular fa-image"></i>

        <span class="mt-3">Click to add media</span>
        <i class="text-muted">Max file size 2mb, accepted (.jpg/.png/.gif)</i>
      </div>

      <div class="khc-add-quiz__question-options">
        <div class="khc-add-quiz__question-option-item">
          <input type="text" placeholder="Add answer 1" />
        </div>
        <div class="khc-add-quiz__question-option-item">
          <input type="text" placeholder="Add answer 2"/>
        </div>
        <div class="khc-add-quiz__question-option-item">
          <input type="text" placeholder="Add answer 3"/>
        </div>
        <div class="khc-add-quiz__question-option-item">
          <input type="text" placeholder="Add answer 4"/>
        </div>
      </div>
    </div>
  </div>
</div>
