<div class="khc-home">

  <section class="khc-home__main">
    <div class="container">
      <div class="d-flex flex-wrap h-auto flex-wrap-reverse align-items-center justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="text-center">
            Create, Play & Learn
            <br />
            with Kahoot Clone!
          </h1>
          <p class="mt-3 text-center">Engage your audience with fun and interactive quizzes.</p>

          <div class="d-flex mt-5">
            <button class="btn btn-info">Get Started</button>
            <button class="btn btn-secondary ms-3">Source Code</button>
          </div>
        </div>
        <img src="assets/images/kahoot.jpg" alt="Home icon" />
      </div>
    </div>
  </section>
  <section class="khc-home__about">
    <div class="d-flex flex-wrap flex-sm-column flex-md-row mt-5 justify-content-center align-items-center">
      <div class="khc-home__info-card">
        <img src="/assets/icons/icons8-quiz-96.png" alt="Quiz icon" height="48" class="mb-3" />
        <h4>Create Quizzes</h4>
        <p>Build custom quizzes easily.</p>
      </div>
      <div class="khc-home__info-card">
        <img src="/assets/icons/icons8-game-100.png" alt="Quiz icon" height="48" class="mb-3" />

        <h4>Host Live Games</h4>
        <p>Host exciting quiz sessions.</p>
      </div>
      <div class="khc-home__info-card">
        <img src="/assets/icons/icons8-report-96.png" alt="Quiz icon" height="48" class="mb-3" />
        <h4>Track Results</h4>
        <p>Analyze performance instantly.</p>
      </div>
    </div>
    <p class="mt-5 text-center">
      This is a sample project built using
      <b>Angular 19</b>
      ,
      <b>.Net</b>
      ,
      <b>SignalR</b>
    </p>

    <b class="mt-4">Created with love by:</b>

    <div class="khc-home__about-card mt-3 mb-4">
      <div class="khc-home__about-profile">
        <img src="/assets/images/profile-2.png" alt="Stephen Vinuya" height="128" />
      </div>
      <div class="khc-home__about-info">
        <b>Stephen Vinuya</b>
        <small>Lead Software Developer</small>
        <a href="https://stephen-vinuya.web.app/" target="_blank" class="btn btn-info mt-3">Visit Website</a>
      </div>
    </div>

  </section>
</div>
