<div class="khc-question-screen animate__animated animate__slideInRight">
  <div class="khc-question-screen__question-text">What is the capital of France?</div>

  <div class="d-flex w-100">
    <div class="khc-question-screen__timer">20</div>
  </div>

  <div
    class="khc-question-screen__options w-100 d-flex flex-wrap justify-content-center mt-4"
  >
    <div class="khc-question-screen__question-option">
      <span class="khc-question-screen__option-text">Paris</span>
    </div>
    <div class="khc-question-screen__question-option">
      <span class="khc-question-screen__option-text">London</span>
    </div>
    <div class="khc-question-screen__question-option">
      <span class="khc-question-screen__option-text">Berlin</span>
    </div>
    <div class="khc-question-screen__question-option">
      <span class="khc-question-screen__option-text">Madrid</span>
    </div>
  </div>
</div>
