<div class="khc-question-screen animate__animated animate__slideInRight">
  <div class="d-flex w-100 justify-content-between align-items-center">
    <div></div>
    <div class="khc-question-screen__question-text">What is the capital of France?</div>

    <button class="btn btn-secondary">Next</button>
  </div>

  <div class="w-100">
    <div class="d-flex w-100 mb-5">
      <div class="khc-question-screen__answers-graph d-flex align-items-end w-100">
        <div
          class="khc-question-screen__answers-bar flex-fill mx-2 d-flex flex-column align-items-center"
        >
          <div
            class="khc-question-screen__bar khc-question-screen__bar--red"
            style="height: 100%"
          ></div>
          <span class="mt-2">
            10
            <i class="fa-solid fa-check"></i>
          </span>
        </div>
        <div
          class="khc-question-screen__answers-bar flex-fill mx-2 d-flex flex-column align-items-center"
        >
          <div
            class="khc-question-screen__bar khc-question-screen__bar--blue"
            style="height: 40%"
          ></div>
          <span class="mt-2">4</span>
        </div>
        <div
          class="khc-question-screen__answers-bar flex-fill mx-2 d-flex flex-column align-items-center"
        >
          <div
            class="khc-question-screen__bar khc-question-screen__bar--yellow"
            style="height: 20%"
          ></div>
          <span class="mt-2">3</span>
        </div>
        <div
          class="khc-question-screen__answers-bar flex-fill mx-2 d-flex flex-column align-items-center"
        >
          <div
            class="khc-question-screen__bar khc-question-screen__bar--green"
            style="height: 10%"
          ></div>
          <span class="mt-2">1</span>
        </div>
      </div>
    </div>

    <div class="khc-question-screen__options w-100 d-flex flex-wrap justify-content-center mt-4">
      <div class="khc-question-screen__question-option">
        <span class="khc-question-screen__option-text">
          Paris
          <i class="fa-solid fa-check"></i>
        </span>
      </div>
      <div class="khc-question-screen__question-option">
        <span class="khc-question-screen__option-text">
          London
          <i class="fa-solid fa-xmark"></i>
        </span>
      </div>
      <div class="khc-question-screen__question-option">
        <span class="khc-question-screen__option-text">
          Berlin
          <i class="fa-solid fa-xmark"></i>
        </span>
      </div>
      <div class="khc-question-screen__question-option">
        <span class="khc-question-screen__option-text">
          Madrid
          <i class="fa-solid fa-xmark"></i>
        </span>
      </div>
    </div>
  </div>
</div>
