@import "config";

.#{$style-prefix}-quiz-item {
  height: 240px;
  width: 100%;
  min-width: 280px;
  border-radius: 0px;
  background-color: $white;
  // box-shadow: 3px 3px 2px rgb(0, 0, 0) !important;

  &--teal {
    background-color: $teal;
  }

  &--pink {
    background-color: $pink;
  }

  .header {
    // background-color: $info;
    // color: $white;
    height: 160px;
  }

  button {
    flex: auto;
  }

  // .card-img-top {
  //   min-height: 160px;
  //   background-size: cover;
  //   background-position: center;
  //   position: relative;
    
  //   &::after {
  //     position: absolute;
  //     height: 100%;
  //     width: 100%;
  //     background-color: rgba(0,0,0,0.2);
  //   }
  // }

  &__status {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  .card-title {
    font-size: 18px;
  }

  small {
    font-size: 12px;
  }

  &-delete {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background-color: $white;
    border: none;
    font-size: 12px;
    right: 0;
  }
}
