@import "config";

.#{$style-prefix}-quiz-item {
  height: 380px;
  width: 100%;
  min-width: 320px;
  border-radius: 0px;
  background-color: $white;
  box-shadow: 5px 3px 2px rgb(0, 0, 0) !important;

  &--teal {
    background-color: $teal;
  }

  &--pink {
    background-color: $pink;
  }

  button {
    flex: auto;
  }

  .card-img-top {
    min-height: 160px;
    background-size: cover;
    background-position: center;
    position: relative;
    
    &::after {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.2);
    }
  }

  &__status {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  .card-title {
    font-size: 24px;
  }

  &-delete {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background-color: $white;
    border: none;
    font-size: 12px;
    right: 0;
  }
}
