@import "config";

.#{$style-prefix}-join-game {
  min-height: calc(100vh - 62px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $violet1;
  position: relative;
  padding: 20px;
  &__back {
    position: absolute;
    top: 60px;
    left: 20px;
    @media (max-height: 700px) {
      top: -10px;
      left: 0;
      position: relative;
    }
  }

  &__game-card {
    padding: 25px;
    background-color: $white;
    box-shadow: 4px 4px 4px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;

    &-title {
      font-size: 24px;
    }

    input,
    button {
      width: 100%;
    }
  }
}
