<nav class="khc-navbar navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid pe-5 ps-5">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <div class="khc-navbar__brand-icon me-3">kh</div>

      Kahoot Clone
    </a>

    <!-- Toggler (hamburger menu for mobile) -->

    @if (!hideNavItems) {
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- ms-auto pushes links to the right -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['join-game']">Join Game</a>
          </li>
          <li class="nav-item pe-5">
            <a class="nav-link active" aria-current="page" [routerLink]="['login']">Login</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-info">Get Started</button>
          </li>
        </ul>
      </div>
    }
  </div>
</nav>
