@import "config";

.#{$style-prefix}-scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  padding: 40px;

    &__question-text {
    font-size: 36px;
    color: $white;
  }
}
